VANTAGE_CLIENT_ID=client ID
VANTAGE_CLIENT_SECRET=client secret
VANTAGE_AUTH_HOST=https://auth.vanta.ge
VANTAGE_API_HOST=https://api.vanta.ge

TEST_ACCOUNT_ID=your account ID
TEST_ACCOUNT_NAME=your account name
