# Authorization variables

### Mandatory

# Choose between api_key, client_credentials, or jwt_token
VANTAGE_AUTH_METHOD=api_key
VANTAGE_API_KEY=your api key

# Set if using client_credentials
# VANTAGE_CLIENT_ID=client ID
# VANTAGE_CLIENT_SECRET=client secret

# Set if using jwt_token
# VANTAGE_API_JWT_TOKEN=jwt token

VANTAGE_AUTH_HOST=https://auth.vanta.ge
VANTAGE_API_HOST=https://api.vanta.ge
TEST_ACCOUNT_ID=your account ID
TEST_ACCOUNT_NAME=your account name

### Optional
VANTAGE_EMBEDDING_SEARCH_TEST_COLLECTION_ID=test-collection
VANTAGE_MORE_LIKE_THIS_SEARCH_COLLECTION_ID=test-collection
VANTAGE_SEMANTIC_SEARCH_TEST_COLLECTION_ID=test-collection
EXTERNAL_API_KEY_ID=key id
EXTERNAL_API_KEY=test*****
EXTERNAL_API_KEY_PROVIDER=OpenAI
ENABLE_DELETE_KEY_TEST=false
